---
const speakers = [
  {
    name: "Sneha Pawar",
    description:
      "Senior Salesforce Developer @Cognizant , Trailblazer Mentor , Salesforce women in tech , community Group Leader",
    linkedin: "",
    image: "/speakers/SnehaPawar.png",
  },
  {
    name: "Jeevitha P. Raju",
    description:
      "International keynote speaker at World school summit 13th edition, Dubai, Innovative educator, Softskill Trainer.",
    linkedin: "",
    image: "/speakers/JeevithaPRaju.png",
  },
  {
    name: "Akshay Kumar U",
    description:
      "Founder @Abhyudaya Softech,Tech Evangelist in transforming B2C brands",
    linkedin: "",
    image: "/speakers/AkshayKumarU.png",
  },
  {
    name: "Shanwill Pinto",
    description: "Software Engineer @UniCort",
    linkedin: "",
    image: "/speakers/ShanwillPinto.png",
  },
  {
    name: "Swasthik Shetty",
    description: "Cloud Solution Engineer at Google II | SDE Intern at C.I.D",
    linkedin: "",
    image: "/speakers/SwasthikShetty.png",
  },
  {
    name: "Adarsh Prabhu",
    description:
      "Associate Director - Customer Engineering, Technology & Innovations @ Niveus Solutions Pvt. Ltd. | Cloud Architecture, API Management",
    linkedin: "",
    image: "/speakers/AdarshPrabhu.png",
  },
];
---

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Speakers
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Our speakers are the best in the industry. They have years of experience
        and have worked on various projects. They are here to share their
        knowledge with you.
      </p>
    </div>
    <div class="container px-5 py-24 mx-auto">
      {
        speakers.map((speaker, i) => (
          <div>
            {i % 2 == 0 ? (
              <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-indigo-500 flex-shrink-0">
                  <img src={speaker.image} alt={speaker.name} />
                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
                    {speaker.name}
                  </h2>
                  <p class="leading-relaxed text-base">{speaker.description}</p>
                  {/* <a class="mt-3 text-indigo-500 inline-flex items-center">
                    Learn More
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 12h14M12 5l7 7-7 7" />
                    </svg>
                  </a> */}
                </div>
              </div>
            ) : (
              <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
                    {speaker.name}
                  </h2>
                  <p class="leading-relaxed text-base">{speaker.description}</p>
                  {/* <a class="mt-3 text-indigo-500 inline-flex items-center">
                    Learn More
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 12h14M12 5l7 7-7 7" />
                    </svg>
                  </a> */}
                </div>
                <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full text-indigo-500 flex-shrink-0">
                  <img src={speaker.image} alt={speaker.name} />
                </div>
              </div>
            )}
            ;
          </div>
        ))
      }
    </div>
  </div>
</section>
